@model ADJ.BusinessService.Dtos.VesselDepartureDtos;

@foreach (var item in ViewBag.VNPorts)
{
  <p class="vnPorts" hidden="hidden">@item</p>
}

@foreach (var item in ViewBag.HKPorts)
{
  <p class="hkPorts" hidden="hidden">@item</p>
}

<style>
  table#searchTable tr td:nth-child(2n+1) {
    text-align: right;
  }
</style>
<table id="searchTable" class="uk-table uk-table-small uk-table-middle" style="table-layout: fixed; text-align: left">
  <tr>
    <td width="10%">
      <label asp-for="FilterDto.Origin"></label>
    </td>
    <td width="30%">
      <select asp-for="FilterDto.Origin" asp-items="new SelectList(ViewBag.Origins)" class="uk-select filters" id="origin">
        <option selected value="">Any</option>
      </select>
      <span asp-validation-for="FilterDto.Origin" class="uk-alert-danger"></span>
    </td>
    <td width="5%"></td>
    <td style="display:none"></td>
    <td width="10%">
      <label asp-for="FilterDto.Container"></label>
    </td>
    <td width="30%">
      <input asp-for="FilterDto.Container" class="uk-input filters maxLength" id="container" maxlength="11" />
      <span asp-validation-for="FilterDto.Container" class="uk-alert-danger"></span>
      <span class="uk-alert-danger" id="containerError"></span>
    </td>
    <td width="15%" style="text-align: center">
      <button class="uk-button uk-button-primary">Search</button>
    </td>
  </tr>
  <tr>
    <td>
      <label asp-for="FilterDto.OriginPort"></label>
    </td>
    <td>
      <select asp-for="FilterDto.OriginPort" class="uk-select filters portsSearch"></select>
      <span asp-validation-for="FilterDto.OriginPort" class="uk-alert-danger"></span>
    </td>
    <td></td>
    <td style="display:none"></td>
    <td>
      <label asp-for="FilterDto.ETDFrom"></label>
    </td>
    <td>
      <input asp-for="FilterDto.ETDFrom" type="date" class="uk-input filters" />
      <span asp-validation-for="FilterDto.ETDFrom" class="uk-alert-danger"></span>
    </td>
    <td style="text-align: center">
      <button type="button" value="Achieve" class="uk-button uk-button-danger" id="achieveButton">Achieve</button>
    </td>
  </tr>
  <tr>
    <td>
      <label asp-for="FilterDto.Status"></label>
    </td>
    <td>
      <select asp-for="FilterDto.Status" asp-items="new SelectList(ViewBag.Statuses)" class="uk-select filters">
        <option selected value="">Any</option>
      </select>
      <span asp-validation-for="FilterDto.Status" class="uk-alert-danger"></span>
    </td>
    <td></td>
    <td style="display:none"></td>
    <td>
      <label asp-for="FilterDto.ETDTo"></label>
    </td>
    <td>
      <input asp-for="FilterDto.ETDTo" type="date" class="uk-input filters" />
      <span asp-validation-for="FilterDto.ETDTo" class="uk-alert-danger"></span>
    </td>
    <td></td>
  </tr>
</table>
