@model ADJ.BusinessService.Dtos.VesselDepartureDtos

<h3>Vessel Departure</h3>

<form asp-action="Search" asp-controller="VesselDeparture" id="searchForm"
      data-ajax-success="showResult"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-update="#resultPartial">

  <div class="uk-card uk-card-default uk-card-body">
    <partial name="_Search" model="Model" />
  </div>

</form>

<form asp-action="Achieve" asp-controller="VesselDeparture" id="achieveForm"
      data-ajax-complete="showResult"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-update="#resultPartial">

  <div class="uk-card uk-card-default uk-card-body" id="resultPartial">
    <partial name="_Result" model="Model" />
  </div>
</form>

@section Scripts
  {
  <script type="text/javascript" src="@Url.Content("~/js/VesselDeparture.js")"></script>
}


