@model ADJ.BusinessService.Dtos.ConfirmArrivalDtos

<form asp-action="Search" asp-controller="ConfirmArrival" id="searchForm"
      data-ajax-success="showResult"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-update="#resultPartial">

  <div class="uk-grid uk-card uk-card-default uk-card-body">
    <h4><a href="/Home" class="uk-link-text">Dashboard</a> > Shipment > <a href="?" class="uk-link-text">Confirm Arrival</a></h4>
  </div>

  <br />

  <div class="uk-card uk-card-default uk-card-body">
    <partial name="_Search" model="Model" />
  </div>

</form>

<form asp-action="Achieve" asp-controller="ConfirmArrival" id="achieveForm"
      data-ajax-complete="showResult"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-update="#resultPartial">

  <div id="resultPartial" class="uk-card uk-card-default uk-card-body">
    <partial name="_Result" model="Model" />
  </div>
</form>

@section Scripts
  {
  <script type="text/javascript" src="@Url.Content("~/js/ConfirmArrival.js")"></script>
}


