@model ADJ.Common.PagedListResult<ADJ.BusinessService.Dtos.DCBookingDtos>
<form id="dcbooking" asp-action="CreateOrUpdate" asp-controller="DCBooking" data-ajax-complete="showup" data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-update="#renderSearching">
  <div class="uk-grid uk-card uk-card-default uk-card-body">
    <h4><a class="uk-link-text" href="/Home">Dashboard</a> ><a class="uk-link-text" href=""> DC Booking </a></h4>
  </div>
  <div class="uk-grid uk-card uk-card-default uk-card-body">
    <div class="uk-width-1-3">
      <table class="uk-table">
        <tbody>
          <tr>
            <td><label>Destination Port</label></td>
            <td>
              <div class="uk-form-select" data-uk-form-select>
                @Html.DropDownList("DestinationPort", new SelectList(ViewBag.DestPort), "Any", new { @id = "DestinationPort", @class = "uk-select" })
              </div>
            </td>
          </tr>
          <tr>
            <td><label>Booking Ref</label></td>
            <td>
              <input id="bookingref" class="uk-input" type="number" />
            </td>
          </tr>
          <tr>
            <td><label>Booking Date From</label></td>
            <td>
              <input id="bookingdatefrom" type="date" class="uk-input">
            </td>
          </tr>
          <tr>
            <td><label>Booking Date to</label></td>
            <td>
              <input id="bookingdateto" type="date" class="uk-input">
            </td>
          </tr>
          <tr>
            <td><label>Status</label></td>
            <td>
              <div class="uk-form-select" data-uk-form-select>
                @Html.DropDownList("Status", new SelectList(ViewBag.Status), "Any", new { @id = "Status", @class = "uk-select" })
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="uk-width-1-3">
      <table class="uk-table">
        <tbody>
          <tr>
            <td><label>DC</label></td>
            <td>
              <div class="uk-form-select" data-uk-form-select>
                @Html.DropDownList("DC", new SelectList(ViewBag.DC), "Any", new { @id = "DC", @class = "uk-select" })
              </div>
            </td>
          </tr>
          <tr>
            <td><label>Arrival Date From</label></td>
            <td>
              <input id="arrivaldatefrom" type="date" class="uk-input">
            </td>
          </tr>
          <tr>
            <td><label>Arrival Date To</label></td>
            <td>
              <input id="arrivaldateto" type="date" class="uk-input">
            </td>
          </tr>
          <tr>
            <td><label>Container</label></td>
            <td>
              <input id="Container" class="uk-input" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="uk-width-1-3">
      <table class="uk-table">
        <tbody>
          <tr>
            <td>
              <button style="width:116px" type="button" class="filterItem uk-button uk-button-primary" value=1>Search</button>
            </td>
          </tr>
          <tr>
            <td>
              <button style="width:116px" id="achieve" type="submit" class="uk-button uk-button-danger">Achieve</button>
            </td>
          </tr>

        </tbody>
      </table>

    </div>

  </div>
  <div id="renderSearching">
   <partial name="_SearchingDCBookingPartial" model="Model" />
  </div>
</form>

<br />
<br />
<script src="~/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
   $(document.body).on('click', '.filterItem', function () {
    var pageIndex = $(this).attr("value");
        $.ajax({
            type: "GET",
            dataType:"html",
            url: "@Url.Action("Index", "DCBooking")",
            data: {
              pageIndex: pageIndex,
              DestinationPort: $('#DestinationPort').val(),
              bookingref: $('#bookingref').val(),
              bookingdatefrom: $('#bookingdatefrom').val(),
              bookingdateto: $('#bookingdateto').val(),
              DC: $('#DC').val(),
              arrivaldatefrom: $('#arrivaldatefrom').val(),
              arrivaldateto: $('#arrivaldateto').val(),
              Status: $('#Status').val(),
              Container: $('#Container').val(),
              checkClick: true,
            },
            success: function (data) {
                $('#renderSearching').html(data);
            }
        });
  });
  showup = function showup() {
    $(document).ready(function () {
      $('#successmodal').trigger('click');
    });
  }
  $('#dcbooking').submit(function () {
    var check = 0;
    var blank = document.getElementsByClassName("client");
    for (i = 0; i < blank.length; i++) {
      if (blank[i].value == "") {
        check++;
        break;
      }
    }
    var blank = document.getElementsByClassName("bookingtime");
    for (i = 0; i < blank.length; i++) {
      if (blank[i].value == "") {
        check++;
        break;
      }
    }
    var blank = document.getElementsByClassName("bookingref");
    for (i = 0; i < blank.length; i++) {
      if (blank[i].value == "") {
        check++;
        break;
      }
    }
    if (check > 0) {
      alert("Some fields are empty or contain an improper value. Please try again.");
    }
  });
</script>

