@model ADJ.BusinessService.Dtos.OrderDTO;
<!--Popup-->
@if (ViewBag.Modal_method != null)
{
  string method = ViewBag.Modal_method;
  <button type="button" uk-toggle="target: #resultModal" id="openmodal" hidden="hidden">Open</button>

  <div id="resultModal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <!--Modal content-->
      The Purchase Order number @ViewBag.Modal_id is
      @{
        string message = null;
        switch (method)
        {
          case "Create":
            message += "created";
            break;
          case "Edit":
            message += "edited";
            break;
          case "Copy":
            message += "copied";
            break;
        }
      }
      @message successfully. Thank you.

      <p class="uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
      </p>
    </div>
  </div>
}

@foreach (var item in ViewBag.VNPorts)
{
  <p class="vnPorts" hidden="hidden">@item</p>
}

@foreach (var item in ViewBag.HKPorts)
{
  <p class="hkPorts" hidden="hidden">@item</p>
}

<!--Order Table-->
<table class="uk-table uk-table-small uk-table-middle">
  <tr>
    <td colspan="6" style="border-bottom: 0.2px solid gainsboro">
      <button type="submit" asp-action="Apply" asp-controller="PurchaseOrder" value="Apply" class="uk-button uk-button-primary" id="applyButton">Apply</button>
    </td>
  </tr>
  <tr>
    <td>
      <label asp-for="PONumber"></label>
    </td>
    <td>
      <div class="col-md-10">
        <input asp-for="PONumber" class="uk-input" id="to" onkeyup="copy2()" />
        <span asp-validation-for="PONumber" class="uk-alert-danger"></span>
        <span class="uk-alert-danger">@ViewBag.PONumberError</span>
      </div>
    </td>
    <td>
      <label asp-for="Vendor"></label>
    </td>
    <td>
      <div>
        <input asp-for="Vendor" class="uk-input" />
        <span asp-validation-for="Vendor" class="uk-alert-danger"></span>
      </div>
    </td>
    <td>
      <label asp-for="Mode"></label>
    </td>
    <td>
      <div class="col-md-10">
        <select asp-for="Mode" asp-items="new SelectList(ViewBag.Modes)" class="uk-select"></select>
        <span asp-validation-for="Mode" class="uk-alert-danger"></span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <label asp-for="OrderDate"></label>
    </td>
    <td>
      <div class="col-md-10">
        <input asp-for="OrderDate" class="uk-input" type="date" value=@Model.OrderDate.ToString("yyyy-MM-dd") />
        <span asp-validation-for="OrderDate" class="uk-alert-danger"></span>
      </div>
    </td>
    <td>
      <label asp-for="Company"></label>
    </td>
    <td>
      <div class="col-md-10">
        <input asp-for="Company" class="uk-input" />
        <span asp-validation-for="Company" class="uk-alert-danger"></span>
      </div>
    </td>
    <td>
      <label asp-for="ShipDate"></label>
    </td>
    <td>
      <div class="col-md-10">
        <input asp-for="ShipDate" class="uk-input" type="date" value=@Model.ShipDate.ToString("yyyy-MM-dd") />
        <span asp-validation-for="ShipDate" class="uk-alert-danger"></span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <label asp-for="Buyer"></label>
    </td>
    <td>
      <div class="col-md-10">
        <input asp-for="Buyer" class="uk-input" />
        <span asp-validation-for="Buyer" class="uk-alert-danger"></span>
      </div>
    </td>
    <td>
      <label asp-for="Origin"></label>
    </td>
    <td>
      <div class="col-md-10">
        <select asp-for="Origin" asp-items="new SelectList(ViewBag.Origins)" class="uk-select" id="origin"></select>
        <span asp-validation-for="Origin" class="uk-alert-danger"></span>
      </div>
    </td>
    <td>
      <label asp-for="LatestShipDate"></label>
    </td>
    <td>
      <div class="col-md-10">
        <input asp-for="LatestShipDate" class="uk-input" type="date" value=@Model.LatestShipDate.ToString("yyyy-MM-dd") />
        <span asp-validation-for="LatestShipDate" class="uk-alert-danger"></span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <label asp-for="Currency"></label>
    </td>
    <td>
      <div class="col-md-10">
        <select asp-for="Currency" asp-items="new SelectList(ViewBag.Currencies)" class="uk-select"></select>
        <span asp-validation-for="Currency" class="uk-alert-danger"></span>
      </div>
    </td>
    <td>
      <label asp-for="PortOfLoading"></label>
    </td>
    <td>
      <div class="col-md-10">
        <select asp-for="PortOfLoading" value=@Model.PortOfLoading class="uk-select ports"></select>
        <span asp-validation-for="PortOfLoading" class="uk-alert-danger"></span>
      </div>
    </td>
    <td>
      <label asp-for="DeliveryDate"></label>
    </td>
    <td>
      <div class="col-md-10">
        <input asp-for="DeliveryDate" class="uk-input" type="date" value=@Model.DeliveryDate.ToString("yyyy-MM-dd") />
        <span asp-validation-for="DeliveryDate" class="uk-alert-danger"></span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <label asp-for="Season"></label>
    </td>
    <td>
      <div class="col-md-10">
        <select asp-for="Season" asp-items="new SelectList(ViewBag.Seasons)" class="uk-select"></select>
        <span asp-validation-for="Season" class="uk-alert-danger"></span>
      </div>
    </td>
    <td>
      <label asp-for="PortOfDelivery"></label>
    </td>
    <td>
      <div class="col-md-10">
        <select asp-for="PortOfDelivery" value=@Model.PortOfDelivery class="uk-select ports"></select>
        <span asp-validation-for="PortOfDelivery" class="uk-alert-danger"></span>
      </div>
    </td>
    <td>
      <label asp-for="OrderType"></label>
    </td>
    <td>
      <div class="col-md-10">
        <input asp-for="OrderType" class="uk-input" />
        <span asp-validation-for="OrderType" class="uk-alert-danger"></span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <label asp-for="Department"></label>
    </td>
    <td>
      <div class="col-md-10">
        <input asp-for="Department" class="uk-input" />
        <span asp-validation-for="Department" class="uk-alert-danger"></span>
      </div>
    </td>
    <td>
      <label asp-for="Factory"></label>
    </td>
    <td>
      <div class="col-md-10">
        <input asp-for="Factory" class="uk-input" />
        <span asp-validation-for="Factory" class="uk-alert-danger"></span>
      </div>
    </td>
    <td>
      <label asp-for="Status"></label>
    </td>
    <td>
      <div class="col-md-10">
        <select asp-for="Status" asp-items="new SelectList(ViewBag.Statuses)" class="uk-input" disabled></select>
      </div>
    </td>
  </tr>
</table>