@model ADJ.BusinessService.Dtos.OrderDTO;

<table class="uk-table uk-table-small uk-table-middle">
  <tr>
    <td>
      <label asp-for="PONumber"></label>
    </td>
    <td>
      <input disabled asp-for="PONumber" class="uk-input" id="from" onkeyup="copy()" />
    </td>
    <td colspan="4"></td>
  </tr>
  <tr>
    <td>
      <label asp-for="PONumber"></label>
    </td>
    <td>
      <div class="col-md-10">
        <input disabled asp-for="PONumber" class="uk-input" id="to" onkeyup="copy2()" />
      </div>
    </td>
    <td>
      <label asp-for="Vendor"></label>
    </td>
    <td>
      <div>
        <input disabled asp-for="Vendor" class="uk-input" />
      </div>
    </td>
    <td>
      <label asp-for="Mode"></label>
    </td>
    <td>
      <div class="col-md-10">
        <select disabled asp-for="Mode" asp-items="new SelectList(ViewBag.Modes)" class="uk-input"></select>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <label asp-for="OrderDate"></label>
    </td>
    <td>
      <div class="col-md-10">
        <input disabled value=@Model.OrderDate class="uk-input"  />
      </div>
    </td>
    <td>
      <label asp-for="Company"></label>
    </td>
    <td>
      <div class="col-md-10">
        <input disabled asp-for="Company" class="uk-input" />
      </div>
    </td>
    <td>
      <label asp-for="ShipDate"></label>
    </td>
    <td>
      <div class="col-md-10">
        <input disabled value=@Model.ShipDate class="uk-input" />
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <label asp-for="Buyer"></label>
    </td>
    <td>
      <div class="col-md-10">
        <input disabled asp-for="Buyer" class="uk-input" />
      </div>
    </td>
    <td>
      <label asp-for="Origin"></label>
    </td>
    <td>
      <div class="col-md-10">
        <select disabled asp-for="Origin" asp-items="new SelectList(ViewBag.Origins)" class="uk-input"></select>
      </div>
    </td>
    <td>
      <label asp-for="LatestShipDate"></label>
    </td>
    <td>
      <div class="col-md-10">
        <input disabled value=@Model.LatestShipDate class="uk-input" />
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <label asp-for="Currency"></label>
    </td>
    <td>
      <div class="col-md-10">
        <select disabled asp-for="Currency" asp-items="new SelectList(ViewBag.Currencies)" class="uk-input"></select>
      </div>
    </td>
    <td>
      <label asp-for="PortOfLoading"></label>
    </td>
    <td>
      <div class="col-md-10">
        <select disabled asp-for="PortOfLoading" asp-items="new SelectList(ViewBag.Ports)" class="uk-input"></select>
      </div>
    </td>
    <td>
      <label asp-for="DeliveryDate"></label>
    </td>
    <td>
      <div class="col-md-10">
        <input disabled value=@Model.DeliveryDate class="uk-input" />
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <label asp-for="Season"></label>
    </td>
    <td>
      <div class="col-md-10">
        <select disabled asp-for="Season" asp-items="new SelectList(ViewBag.Seasons)" class="uk-input"></select>
      </div>
    </td>
    <td>
      <label asp-for="PortOfDelivery"></label>
    </td>
    <td>
      <div class="col-md-10">
        <select disabled asp-for="PortOfDelivery" asp-items="new SelectList(ViewBag.Ports)" class="uk-input"></select>
      </div>
    </td>
    <td>
      <label asp-for="OrderType"></label>
    </td>
    <td>
      <div class="col-md-10">
        <input disabled asp-for="OrderType" class="uk-input" />
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <label asp-for="Department"></label>
    </td>
    <td>
      <div class="col-md-10">
        <input disabled asp-for="Department" class="uk-input" />
      </div>
    </td>
    <td>
      <label asp-for="Factory"></label>
    </td>
    <td>
      <div class="col-md-10">
        <input disabled asp-for="Factory" class="uk-input" />
      </div>
    </td>
    <td>
      <label asp-for="Status"></label>
    </td>
    <td>
      <div class="col-md-10">
        <select disabled asp-for="Status" asp-items="new SelectList(ViewBag.Statuses)" class="uk-input"></select>
      </div>
    </td>
  </tr>
</table>