@model ADJ.BusinessService.Dtos.OrderDTO;

<h3>PO Manager</h3>

<h2>
  @Model.Method
</h2>

<span class="uk-alert-danger">@ViewBag.OrderDetailError</span>

<form asp-action="Create" asp-controller="PurchaseOrder" id="orderForm">
  <input asp-for="Method" value=@Model.Method type="hidden" />
  <input asp-for="Id" value=@Model.Id type="hidden" />
  <input asp-for="RowVersion" value=@Model.RowVersion type="hidden" />
  <input asp-for="SingleOrderDetail.Id" value=@Model.SingleOrderDetail.Id type="hidden" />

  <h4>@ViewBag.Method</h4>
  <hr />

  <div class="uk-card uk-card-default uk-card-body">
    <partial name="_Order" model="Model" />
  </div>

  <div class="uk-grid-divider" uk-grid>...</div>

  <div class="uk-card uk-card-default uk-card-body" id="orderDetailPartial">
    <partial name="_OrderDetail" model="Model" />
  </div>

</form>

<div>
  <a asp-controller="PurchaseOrder" asp-action="Index">Back to List</a>
</div>

@section Scripts
  {
  <script type="text/javascript" src="@Url.Content("~/js/PurchaseOrder.js")"></script>
}
