@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-right">
      <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" style="padding: 0px">
        <ul class="uk-navbar-nav" style="align-items: center">
          <li>
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
          </li>
          <li>
            <div class="uk-inline">
              <button type="button" class="uk-button uk-button-small"><span uk-icon="icon: menu"></span></button>
              <div uk-dropdown="mode:click">
                <ul class="uk-nav uk-dropdown-nav uk-position-center">
                  <li>
                    <button type="submit" class="uk-button uk-button-small uk-button-default">Logout</button>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </form>
    </div>
  </nav>
}
else
{
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
      </ul>
    </div>
  </nav>
}