.PO {
    border: 1px solid black;
    color: black;
    table-layout: fixed;
}

.PO td {
    vertical-align: middle;
}

.PODetail {
    border: 1px solid black;
    table-layout: fixed;
}

.PODetail td {
    vertical-align: middle;
}

.PODetail tr:nth-child(even) {
  background-color: #f2f2f2;
}
.PODetail th {
  color: white;
  font-weight: bold;
  background-color: #333;
  text-transform: capitalize;
}