@model ADJ.BusinessService.Dtos.ShipmentBookingDtos;

<table>
  <!--header-->
  <tr>
    <th></th>
    <th>
      <label asp-for="OrderDetails[0].PONumber"></label>
    </th>
    <th>
      <label asp-for="OrderDetails[0].ItemNumber"></label>
    </th>
    <th>
      <label asp-for="OrderDetails[0].Factory"></label>
    </th>
    <th>
      <label asp-for="OrderDetails[0].Quantity"></label>
    </th>
    <th>
      <label asp-for="OrderDetails[0].BookingQuantity"></label>
    </th>
    <th>
      <label asp-for="OrderDetails[0].BookingCartons"></label>
    </th>
    <th>
      <label asp-for="OrderDetails[0].BookingCube"></label>
    </th>
    <th>
      <label asp-for="OrderDetails[0].PackType"></label>
    </th>
    <th>
      <label asp-for="OrderDetails[0].POShipDate"></label>
    </th>
    <th>
      <label asp-for="OrderDetails[0].Status"></label>
    </th>
  </tr>
</table>