@model ADJ.BusinessService.Dtos.ShipmentBookingDtos;

<form asp-action="Index" asp-controller="ShipmentBooking" id="filterForm">

  <div class="uk-grid uk-card uk-card-default uk-card-body">
    <h4><a href="/Home" class="uk-link-text">Dashboard</a> > Shipment > <a href="?" class="uk-link-text">Shipment Booking</a></h4>
  </div>

  <br />

  <div class="uk-card uk-card-default uk-card-body">
    <partial name="_Filter" model="Model" />
  </div>

</form>

<form asp-action="Booking" asp-controller="ShipmentBooking" id="bookingForm"
      data-ajax-success="showResult"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-update="#resultPartial">

  <div id="resultPartial">
    <partial name="_Result" model="Model" />
  </div>
</form>

@section Scripts
  {
  <script type="text/javascript" src="@Url.Content("~/js/ShipmentBooking.js")"></script>
}
